@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFF;
    font-family: 'Poppins', sans-serif;
}

nav{
    
    padding: 1.3em;
    box-shadow: 2px 4px 12px rgba(0,0,0,.08);
    margin-bottom: 20px;
}
nav img{
    max-width: 100%;
    height: 38px;
}
.main-container{
    margin: 1.4em ;
}
.hero{
    text-align: center;
    margin-bottom: 30px;
    margin-left: auto;
    
}

.hero img{
    margin: 20px 0;
    width: 80%;
    height: auto;

}
.hero h2 , .hero p{
    line-height: 150%;
    padding: .4em;
    text-align: left;
    
    
    
}
.hero h2{
    font-size: 4rem;
    color: #000000;
    max-width: 900px;
    font-weight: 500;
    
}
.hero p{
    font-weight: 300;
    color: #222222;
    max-width: 900px;
    font-size: 1.4rem;
   
}

.card-single{

    width: 330px;
    font-size: 1.3rem;
    flex: 0 0 auto;         /* ADD */
    display: flex;          /* ADD */
    flex-direction: column; /* ADD */
    margin-bottom: 20px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    
}
.card-img{
    width: 100%;
    object-fit: cover;
    margin-bottom: .5em;
    
    height: 280px;
}
.card-single p , .card-single span{
    margin-bottom: .5em;
    
}
.card-list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  margin-bottom: 23px;
 overflow-y: hidden; 
 padding: 0 20px;

}
@media (min-width: 1060px){
    .card-list{
        justify-content: center;
    }
}

.card-list::-webkit-scrollbar{
    background-color: #e4e4e4;
    height: 16px;
    
}

.card-list::-webkit-scrollbar-thumb{
    background: #D4AA70;
    border: none;
    border-radius: 100px;
}

.card-rating{
    border-bottom: 5px dashed rgb(211, 211, 211);
}
.card-para{
    height: 62px;
}
span.rating{
    color: rgb(77, 77, 77);
}
span.rating-country{
    color: rgb(73, 68, 68);
    font-weight: 600;
}
span.card-price{
    color: rgb(107, 107, 107);
}

.card-rating, .card-details{
    padding: 1em;
    font-weight: 400;
}


